.button{
	-fx-background-color: #201E20;
	-fx-text-fill: #FFFFFF;	
}
.text-field, .button{
	-fx-border-radius: 30px;
	-fx-background-radius:30px;
}

.pane{
	-fx-background-color: #201E20;
}

.labelFundo{
	-fx-background-color: #201E20;
	-fx-text-fill: #FFFFFF;	
	-fx-border-radius: 30px;
	-fx-background-radius:30px;
}

.estiloLetra{
	-fx-font-size:20px;
}

.planodeFundo{
	-fx-background-color: linear-gradient(from 25px 25px to 300px 300px, #E6E6E6, #7A7A7A);
}