@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.button{
	-fx-background-color: #201E20;
	-fx-text-fill: #FFFFFF;	
	-fx-font-family: 'Luckiest Guy', cursive;
	-fx-font-size: 18px;
}
.text-field, .button{
	-fx-border-radius: 30px;
	-fx-background-radius:30px;
}
text-field{
	-fx-font-size: 24px;
}

.font-label{
	-fx-font-family: 'Fruktur', cursive;
}
.status{
	
	-fx-text-fill: #FFFFFF;	
	-fx-background-color: #000000;
}

.pane{
	-fx-background-color: #201E20;
}

.labelFundo{
	-fx-background-color: #201E20;
	-fx-text-fill: #FFFFFF;	
	-fx-border-radius: 30px;
	-fx-background-radius:30px;
}

.estiloLetra{
	-fx-font-size:24px;
	-fx-font-family: 'Fruktur', cursive;
	
}

.planodeFundo{
	-fx-background-color: linear-gradient(from 25px 25px to 300px 300px, #E6E6E6, #7A7A7A);
}
.button.close{
	-fx-background-color: #ffff;
	-fx-color-border:#0000;
	-fx-border-style: solid;
  	-fx-border-width: 1px;
  	-fx-text-fill: #E34242;
  	-fx-font-size: 15px;
  	-fx-font-weight: bold;
}